@font-face {
    font-family: smashFont;
    src: url(../img/smash-font.ttf);
}

ul {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
    color: orange;
}

a {
	text-decoration: none;
	color: black;
}

.no-margin {
	margin: 0px;
}

.max-w-10 {
	max-width: 10%;
}

.max-w-20 {
	max-width: 20%;
}

.max-w-40 {
	max-width: 40%;
}

.max-w-50 {
	max-width: 50%;
}

.max-w-80 {
	max-width: 80%;
}

.max-h-100 {
	max-height: 100%;
}

.min-h-100 {
	min-height: 100%;
}

.h-100 {
	height: 100%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.text-center {
	text-align: center;
}

.text-middle {
	vertical-align: middle;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bg-orange {
	background-color: orange;
}

.bg-grey {
	background-color: #555;
}

.bg-lightgrey {
	background-color: #888;
}

.bg-white {
	background-color: white;
}

.h-100-vh {
	height: 100vh;
}

.login-form {
	margin-bottom: 15px;
}

.login-form > input {
	margin-bottom: 20px;
}

.login-title {
	margin-bottom: 40px;
	color: #000;
}

.register-btn {
	margin-top: 15px;
}

.side-menu {
	font-size: 25pt;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
}

.search-menu {
	font-size: 25pt;
	color: white;
	padding-right: 10px;
	padding-top: 5px;
}

.page-title {
	color: white;
	font-size: 12pt;
	font-family: smashFont;
}

.header-bar {
	height: 50px;
}

.navbar-header {
	float: left;
}

.navbar-right {
	float: right !important;
	margin-right: -15px;
}

.icon {
	color: inherit;
}

#sidebar-wrapper {
	background-color: #bbb !important;
	color: black;
}

.sidebar-nav > li {
	margin-top: 10px;
	color: black;
}

.sidebar-nav ul {
	padding-left: 0px;
	background-color: #aaa;
}

.sidebar-nav li a {
	color: black;
	font-size: 13pt;
}

.friend-name > img {
	margin: 5px;
	width: 10px;
	height: auto;
}

.sidebar-nav > li > a > span , i {
	margin-right: 10px;
	font-size: 16pt;
}

.lobby-entry {
	padding: 5px;
}

.entry-border {
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: black;
}

.lobby-list {
	padding: 0px !important;
}

.lobby-type {
	float: left;
}

.lobby-host {
	float: right;
}

.map-preview {
	margin-top: 15px;
	max-width:100px;
    max-height:100px;
    width: 100%;
    height: auto;
	min-height: 35px;
	min-width: 35px;
}

.lobby-p-count {
	margin-top: 15px;
	float: right;
}

.more-info {
	margin-top:20px;
	float: right;
}

.name-rank {
	margin-top: 10px;
}

.create-lobby {
	position: fixed;
	bottom: 0px;
	right: -150%;
	background-color: orange;
	width: 400%;
	height: 70px;
	z-index: 100;
}

.create-lobby button {
	width: 150px;
	height: 50px;
}

.lobby-name {
	font-size: 14pt;
}

.join-btn {
	float: right;
	margin-top: 10px;
	margin-right: 20%;
	width: 100px;
}

.hidden {
	display: none;
}

.player-names {
	margin-top: 30px;
	width: 90%;
}

.lobby-settings {
	margin-top: 30px;
	width: 90%;
}

.ssm-content-box {
	border: 1px solid;
	border-color: black;
	padding: 0px 0px 20px 0px;
	max-width: 600px;
}

.ssm-content-box .ssm-content-box-title {
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

.ssm-content-box .ssm-content-box-title span {
	padding-left: 10px;
	padding-right: 10px;
    background-color: white;
}

.player-info {
	margin-top: 20px;
}

.last-row {
	margin-bottom: 70px;
}

.unfriend-btn {
	padding: 5px !important;
	float: right;
	margin-right: 25px;
	margin-top: 5px;
	height: 30px;
}

.notification-msg {
	font-size: 10pt !important;
}

.f-right {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	padding: 5px !important;
	height: 30px !important;
}

.create-lobby-actions {
	width: 324px;
}

.footer-btn {
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;
	display: inline-block;
}

.choose-lobby-settings {
	margin-top: 30px;
	margin-bottom: 30px;
}

.lobby-player {
	border-bottom: 1px #000 solid;
}

.player-names-lobby {
	padding: 0px;
	margin-top: 30px;
}

.first-player {
	margin-top: -20px;
}

.team-select {
	font-size: 10pt;
}
.team-select i {
	margin-right: 5px;
}

.lobby-player-actions {
	padding: 0px 10px 5px 10px;
}

.player-actions-btn {
	max-width: 150px;
	width: 30%;
	margin-right: 5px;
	font-size: 8pt;
	padding-left: 5px;
}

.player-actions-btn i {
	margin-right: 5px;
}

.chat-lobby {
	margin-top: 30px;
	height: 300px;
}

.chat-box {
	margin-top: 20px;
}

.chat-box button {
	width: 100%;
	height: 70px;
	font-size: 25pt;
}

.chat-box button i {
	margin-right: 0px;
}

.subscribe-btn {
	float: right;
	margin-top: 10px;
	margin-right: 5%;
	width: 100px;
}

.nav-tabs {
		font-weight: bold;
		text-align: center;
	}
	
.nav-tabs .active a {
	color: black;
}

.nav-tabs li a {
	color: white;
}


.login-page {
	max-width: 40%;
}

.logo {
	max-width: 200px; 
	width: 20vw; 
	height: auto;
}

.super-smash {
	font-size: 2.2vw; 
	font-family: smashFont; 
	margin-bottom: -10px; 
	text-align: center;
}

.matcher {
	font-size: 3.5vw; 
	font-family: smashFont; 
	margin-bottom: -20px; 
	text-align: center;
}
	
@media(max-width:872px) {
	.logo {
		width: 40vw; 
	}
	
	.login-page {
		max-width: 100%;
		width: 100%;
	}
	
	.join-btn {
		margin-right: 5%;
	}
	
	.super-smash {
		font-size: 5vw; 
	}
	
	.matcher {
		font-size: 8vw; 
	}
}

@media(max-width:480px) {
	
	.nav-tabs {
		font-size: 2.5vw;
	}
	
	.more-info {
		font-size: 3.5vw;
	}
}

@media(max-width:405px) {
	
	.more-info {
		margin-top: 70px;
	}
}

.wisteria-flat-button {
  position: relative;
  vertical-align: top;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
  padding: 6px 12px;
  line-height: 1;
}
.wisteria-flat-button:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
 .modal-content {
	 border-radius: 0px;
 }
 
 .modal-header {
	 border-width: 0px;
 }
 
 .scrollable-content {
  white-space: nowrap;
  overflow: auto;
}

.team {
	width: 120px !important;
}

.team .label {
	width: 100px !important;
	color: black;
}
